{% extends 'base.html' %}
{% block content %}

  <h2>User Details</h2>
  <h3>Age: {{user.age}}</h3>
  <h3>Zipcode: {{ user.zipcode }}</h3>
  <h3>Email: {{ user.email }}</h3>
  
  <h2>My Movie List</h2>
    {% if user.ratings|length == 0 %}
    <h4>No movies rated yet.</h4>
    {% else %}
      <ul>
        {% for rating in user.ratings %}
          <li>
            <a href="/movies/{{rating.movie.movie_id}}">{{rating.movie.title}}</a>: {{rating.score}}
          </li>
        {% endfor %}
      </ul>
    {% endif %}


{% endblock %}